html {
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font-size: 312.5%
}

body {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	color: #858585;
	font-size: .24rem;
	background-color: #e8e8e8;
	-webkit-overflow-scrolling: touch
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
	{
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

template {
	display: none
}

svg:not (:root ){
	overflow: hidden
}

a {
	color: #555;
	text-decoration: none;
	background: 0 0;
	-webkit-tap-highlight-color: transparent
}

li,ul {
	list-style: none outside none;
	padding: 0;
	margin: 0
}

img {
	vertical-align: middle;
	border: 0
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

button,input,optgroup,select,textarea {
	margin: 0;
	font: inherit;
	color: inherit
}

button {
	overflow: visible
}

button,select {
	text-transform: none
}

button {
	cursor: pointer;
	-webkit-appearance: button
}


button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0
}

input {
	line-height: normal
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	background: 0 0;
	border: none
}


input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}


input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid silver
}

legend {
	padding: 0;
	border: 0
}

textarea {
	overflow: auto;
	resize: vertical
}

optgroup {
	font-weight: 700
}

td,th {
	padding: 0
}

button,html,input,select,textarea {
	font-family: 'Helvetica Neue', Helvetica, 'microsoft yahei', Arial,
		sans-serif
}

blockquote,figure,form,h1,h2,h3,h4,h5,h6,p {
	margin: 0
}

dd,dl,li,ol,ul {
	margin: 0;
	padding: 0
}

ol,ul {
	list-style: none outside none
}

h1,h2,h3 {
	font-size: .28rem;
	color: #404040
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #ccc
}




.f-right {
	float: right
}





.c-red {
	color: #e4007f
}



.c-bluegray {
	color: #585c64
}


.bg-blue {
	background-color: #3d425a
}

.bg-white {
	background-color: #fff
}

.bg-default {
	background-color: #e8e8e8
}




.space10 {
	height: 10px;
	clear: both
}




































































































































































































.u-checkout.container {
	margin-bottom: 2.4rem;
	padding: 0
}

.u-infobox .title {
	padding: .3rem .2rem;
	font-size: .26rem;
	color: #fff
}

.u-infobox .title p {
	color: #fff
}


.u-infobox .u-addressbox {
	border-bottom: .02rem solid #282b3b
}

.u-infobox .u-addressbox .title {
	padding: .3rem .2rem;
	font-size: .26rem;
	border: none
}







.u-infobox .u-name {
	margin-bottom: .2rem;
	font-size: .3rem;
	line-height: .3rem
}

.u-infobox .u-address {
	height: .68rem;
	padding-right: .2rem;
	font-size: .26rem;
	line-height: .34rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
	word-break: break-all
}









































.u-paytotlebox .nav-list-totle li {
	font-size: .26rem
}

.u-paytotlebox .nav-list-totle li:first-child {
	border-top: none
}

.u-paytotlebox .nav-list-totle li:last-child {
	border-bottom: none
}

.u-paytotlebox .u-panel-bd li {
	padding-right: .2rem;
	margin-left: .2rem
}









.btn.btn-checkout {
	border-radius: 6px
}


.checkout-box .navbar-header {
	margin-right: 10px
}

.checkout-box .navbar-header .totle {
	color: #242424;
	font-size: 14px
}

.checkout-box .navbar-header .price {
	color: #f60;
	font-size: 18px
}

.checkout-box .navbar-brand {
	display: block;
	float: none;
	text-align: center
}

.checkout-box .navbar-brand .btn {
	padding-left: 5px;
	padding-right: 5px;
	width: 150px;
	text-align: center;
	font-size: 16px
}
















































.text_search::-webkit-input-placeholder {
	color: #999
}















































































































































.page .next:after{display:inline-block;content:"
		ì)Ù$˝;
	clear: both
}





















































































































































































































































































































































































































































































@media all and (-webkit-min-device-pixel-ratio:2) {
}
















































































input:-moz-placeholder,textarea:-moz-placeholder {
	color: #999
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #999
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999
}























table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0
}



















.btn {
	display: inline-block;
	*display: inline;
	padding: 5px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #e6e6e6;
	*background-color: #e6e6e6;
	border: 1px solid transparent;
	border: 1px solid #e6e6e6;
	*border: 0;
	border-color: #e6e6e6;
	border-color: rgba(0, 0, 0, .01)
}

.btn:active,.btn:focus,.btn:hover
	{
	color: #333;
	background-color: #d6d6d6;
	*background-color: #d6d6d6
}

.btn:first-child {
	*margin-left: 0
}

.btn:focus,.btn:hover {
	color: #333;
	text-decoration: none
}

.btn:focus {
	outline: 0
}

.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05)
}


.btn-purple {
	color: #fff;
	text-shadow: none;
	background-color: #e6242b;
	*background-color: #e6242b;
	border-color: #e6242b
}

.btn-purple:active,.btn-purple:focus,.btn-purple:hover
	{
	color: #fff;
	background-color: #d51017;
	*background-color: #d51017
}



.btn-large {
	padding: 8px 25px
}

















































































































































































.container {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto
}

.container:after,.container:before {
	display: table;
	content: " "
}

.container:after {
	clear: both
}




































.navbar {
	position: relative;
	z-index: 1000;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent
}

.navbar:after,.navbar:before {
	display: table;
	content: " "
}

.navbar:after {
	clear: both
}

.navbar-header:after,.navbar-header:before {
	display: table;
	content: " "
}

.navbar-header:after {
	clear: both
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
	-moz--box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 -1px 2px rgba(0, 0, 0, .1)
}

.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	border-width: 0 0 1px
}


.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0
}

.navbar-brand {
	float: right;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	position: relative
}


.nav-current-box {
	padding: 10px
}

.nav-current-box .navbar-header {
	float: left
}

.nav {
	margin-left: 0;
	list-style: none
}



































































































.amount-confirm-box:after,.amount-confirm-box:before, ;.amount-confirm-box:before
	{
	display: table;
	content: " "
}











.drop-wrapper::-webkit-scrollbar {
	width: 8px
}

.drop-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 10px
}

.drop-wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, .7)
}

.drop-wrapper::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, .4)
}

























































































@
-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg)
}

to {
	-webkit-transform: rotate(360deg)
}

}
@
-mox-keyframes rotate {
	from {-moz-transform: rotate(0deg)
}

to {
	-moz-transform: rotate(360deg)
}

}
@
-o-keyframes rotate {
	from {-o-transform: rotate(0deg)
}

to {
	-o-transform: rotate(360deg)
}

}
@
keyframes rotate {
	from {transform: rotate(0deg)
}

to {
	transform: rotate(360deg)
}

}
@
-webkit-keyframes rotate2 {
	from {-webkit-transform: rotate(-60deg)
}

to {
	-webkit-transform: rotate(300deg)
}

}
@
-mox-keyframes rotate2 {
	from {-moz-transform: rotate(-60deg)
}

to {
	-moz-transform: rotate(360deg)
}

}
@
-o-keyframes rotate2 {
	from {-o-transform: rotate(-60deg)
}

to {
	-o-transform: rotate(300deg)
}

}
@
keyframes rotate2 {
	from {transform: rotate(-60deg)
}

to {
	transform: rotate(300deg)
}

}
























































































































































































































@media screen and (min-width:480px) {
}

@media screen and (min-width:641px) {
}






























































.u-panel,.u-panel-bd {
	position: relative;
	width: 100%
}

.u-panel-hd {
	padding: .1rem .2rem
}

.u-panel-bd {
	border-top: 1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc
}

.u-panel-bd li {
	position: relative;
	padding: .3rem 0;
	color: #000;
	border-bottom: .02rem solid #cccbcf
}

.u-panel-bd li:nth-last-child(1) {
	border: none
}

/*ƒÎﬁ nn`˝Y(˜Å   ‘*F¿Ø∏3Õ!*/






