@charset "utf-8"; /*==========@@HTML默认样式 开始@@==========*/ /*基本*/
* {
	font-size: 16px;
	padding: 0px;
	margin: 0px
}

body {
	color: #000;
	background-color: #FFF;
	padding: 0px;
	margin: 0px auto;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial,
		san-serif;
	font-size: 16px;
	max-width: 640px;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
	color: #333333;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
	max-width: 100%
}

p {
	margin: 0px 0px 1em 0;
}

b,strong {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0; /* Remove most spacing between table cells.*/
}

li {
	list-style: none outside none;
} /*链接*/
a {
	text-decoration: none;
	color: #000;
	background: transparent;
	outline: none
}

a:visited {
	
}

a:focus {
	outline: none;
}

a:hover,a:active {
	color: #ff539f;
	outline: none;
} /*标题*/
h1 {
	font-size: 1.3em;
	margin: 0;
}

h2 {
	font-size: 1.2em;
	margin: 0;
}

h3 {
	font-size: 1.17em;
	margin: 0;
}

h4 {
	font-size: 1em;
	margin: 0;
}

h5 {
	font-size: 0.83em;
	margin: 0;
}

h6 {
	font-size: 0.67em;
	margin: 0;
} 
.InfoTitle,.ChannelName {
	font-size: 18px;
	line-height: 1.5em;
	vertical-align: middle;
	font-weight: bold;
}




/*频道列表*/
.channellist {
	width: 99%;
	border: 0px solid red;
	margin: 0px auto;
}

.channellist li {
	float: left;
	text-align: center;
	border: 0px dashed blue;
	width: 33%;
}

.channellist li a {
	display: block;
	margin: 5px;
	padding-top: 0px;
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-webkit-box-shadow: 0px 1px 3px rgb(190, 190, 190);
	-moz-box-shadow: 0px 1px 3px rgb(190, 190, 190);
	-o-box-shadow: 0px 1px 3px rgb(190, 190, 190);
	box-shadow: 0px 1px 3px rgb(190, 190, 190);
}

.channellist li .ChannelName {
	text-align: center;
	height: 22px;
	line-height: 22px;
	border: 0px dashed red;
	padding: 5px;
	font-size: 14px
}

.channellist li .ChannelIcon {
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	background: white center center no-repeat;
	padding: 0px;
	color: #FFFFFF;
	margin: auto;
	border: 0px solid red;
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-o-border-radius: 8px 8px 0px 0px;
}

.channellist li .ChannelIcon img {
	vertical-align: middle;
	width: 99%;
} /*==========@@列表样式 结束@@==========*/
/*==========@@公共板块样式 开始@@==========*/ /*公共样式 可在具体频道模型被重载*/
#top {
	
} /*主要用于页面顶部特殊功能，宽度通常全屏*/
#header,#content,#footer {
	width: 98%;
	margin: 0px auto;
	border: 0px solid green;
	line-height:150%
}

/*版权信息*/
.copyright {
	padding: 5px;
	text-align: left;
	font-size: 14px;
	color: #666;
	border: 0px solid red
}

.copyright a {
	color: #666;
} /*快捷菜单按钮 开始*/
