html {
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font-size: 312.5%
}

body {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	color: #858585;
	font-size: .24rem;
	background-color: #e8e8e8;
	-webkit-overflow-scrolling: touch
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
	{
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

template {
	display: none
}

svg:not (:root ){
	overflow: hidden
}

a {
	color: #555;
	text-decoration: none;
	background: 0 0;
	-webkit-tap-highlight-color: transparent
}

li,ul {
	list-style: none outside none;
	padding: 0;
	margin: 0
}

img {
	vertical-align: middle;
	border: 0
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

button,input,optgroup,select,textarea {
	margin: 0;
	font: inherit;
	color: inherit
}

button {
	overflow: visible
}

button,select {
	text-transform: none
}

button {
	cursor: pointer;
	-webkit-appearance: button
}


button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0
}

input {
	line-height: normal
}

input[type=text],select {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	background: 0 0;
	border: none
}


input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}


input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid silver
}

legend {
	padding: 0;
	border: 0
}

textarea {
	overflow: auto;
	resize: vertical
}

optgroup {
	font-weight: 700
}

td,th {
	padding: 0
}

button,html,input,select,textarea {
	font-family: 'Helvetica Neue', Helvetica, 'microsoft yahei', Arial,
		sans-serif
}

blockquote,figure,form,h1,h2,h3,h4,h5,h6,p {
	margin: 0
}

dd,dl,li,ol,ul {
	margin: 0;
	padding: 0
}

ol,ul {
	list-style: none outside none
}

h1,h2,h3 {
	font-size: .28rem;
	color: #404040
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #ccc
}

.clearfix {
	zoom: 1;
	clear: both
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}


.f-right {
	float: right
}





.c-red {
	color: #e4007f
}



.c-bluegray {
	color: #585c64
}



.bg-white {
	background-color: #fff
}

.bg-default {
	background-color: #e8e8e8
}



.space5 {
	height: 5px;
	clear: both
}

.space10 {
	height: 10px;
	clear: both
}













.fontgrey {
	color: #999
}













































































































































































































































.u-paytotlebox .nav-list-totle li {
	font-size: .26rem
}

.u-paytotlebox .nav-list-totle li:first-child {
	border-top: none
}

.u-paytotlebox .nav-list-totle li:last-child {
	border-bottom: none
}

.u-paytotlebox .u-panel-bd li {
	padding-right: .2rem;
	margin-left: .2rem
}











.checkout-box .navbar-header {
	margin-right: 10px
}

.checkout-box .navbar-header .totle {
	color: #242424;
	font-size: 14px
}

.checkout-box .navbar-header .price {
	color: #f60;
	font-size: 18px
}

.checkout-box .navbar-brand {
	display: block;
	float: none;
	text-align: center
}

.checkout-box .navbar-brand .btn {
	padding-left: 5px;
	padding-right: 5px;
	width: 150px;
	text-align: center;
	font-size: 16px
}











































.text_input,.textarea_input {
	padding: 0;
	margin: 0;
	background: #fff;
	border: none;
	border: 1px solid #dadada;
	color: #404040;
	border-radius: 4px;
	box-shadow: none;
	font-size: 14px
}

.textarea_address {
	border-radius: 0
}


.textarea_input {
	height: 40px;
	line-height: 18px;
	border: none;
	width: 100%
}


.text_search::-webkit-input-placeholder {
	color: #999
}















































































































































.page .next:after{display:inline-block;content:"
		ì)Ù$˝;
	clear: both
}



























































































.cartdiv {
	background: #fff;
	margin: 0 7px 10px;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
}

.cartlist {
	position: relative;
	padding: 8px 6px 0
}

.cartlist:last-child {
	border-bottom: none
}

.cartlistinner {
	padding: 0 5px 8px;
	min-height: 101px;
	position: relative;
	border-bottom: #cfcfcf 1px dashed
}

.cart_g_name {
	font-size: 15px;
	color: #000;
	line-height: 16px;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all
}

.cart_b_name {
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 0
}












.order_sendby {
	height: 28px;
	padding-right: 20px;
	margin-left: 7px;
	max-width: 400px;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	background: url(../images/common/82543585a9.order_sendby.png) right
		bottom no-repeat;
	background-size: 241px
}

.order_sendby span {
	height: 28px;
	display: block;
	padding-left: 10px;
	float: left;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	background: url(../images/common/82543585a9.order_sendby.png) left top
		no-repeat;
	background-size: 241px;
	line-height: 28px;
	font-weight: 400;
	color: #8c8a8a
}












.c_price {
	color: #f60;
	font-size: 16px;
	line-height: 16px
}


.cart_orderlist_info {
	margin: 0 80px;
	overflow: hidden
}

.cart_orderlist_i {
	position: absolute;
	left: 0;
	top: 0;
	width: 80px
}

.cart_orderlist_p {
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
	text-align: right;
	padding: 0 0 10px
}

.cart_orderlist_p span {
	display: block
}











































































.connerdiv {
	padding: 5px 5px
}

.connerbox {
	margin-bottom: 10px;
	background: #fff;
	border-radius: 4px;
	border: #dadada 1px solid;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset
}

.connerbox dd {
	padding: 6px 10px;
	font-style: normal;
	font-size: 14px;
	border-bottom: #e0e0e0 1px solid;
	position: relative
}

.connerbox dd span.form_hd {
	position: absolute;
	left: 10px;
	top: 6px;
	display: inline-block;
	line-height: 30px
}

.connerbox dd span.form_td {
	position: relative;
	margin-left: 45px;
	display: block
}



.connerbox dd span.form_td input,.connerbox dd span.form_td select {
	width: 100%
}

.connerbox dd:last-child {
	border-bottom: none
}


.connerbox .text_input
	{
	background: 0 0;
	border: none;
	width: 200px;
	height: 30px;
	line-height: 30px;
	overflow: visible
}


































































































































































































































































@media all and (-webkit-min-device-pixel-ratio:2) {
}
















































































input:-moz-placeholder,textarea:-moz-placeholder {
	color: #999
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #999
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999
}























table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0
}



















.btn {
	display: inline-block;
	*display: inline;
	padding: 5px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #e6e6e6;
	*background-color: #e6e6e6;
	border: 1px solid transparent;
	border: 1px solid #e6e6e6;
	*border: 0;
	border-color: #e6e6e6;
	border-color: rgba(0, 0, 0, .01)
}

.btn:active,.btn:focus,.btn:hover
	{
	color: #333;
	background-color: #d6d6d6;
	*background-color: #d6d6d6
}

.btn:first-child {
	*margin-left: 0
}

.btn:focus,.btn:hover {
	color: #333;
	text-decoration: none
}

.btn:focus {
	outline: 0
}

.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
		rgba(0, 0, 0, .05)
}


.btn-purple {
	color: #fff;
	text-shadow: none;
	background-color: #e6242b;
	*background-color: #e6242b;
	border-color: #e6242b
}

.btn-purple:active,.btn-purple:focus,.btn-purple:hover
	{
	color: #fff;
	background-color: #d51017;
	*background-color: #d51017
}



.btn-large {
	padding: 8px 25px
}

















































































































































































.container {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto
}

.container:after,.container:before {
	display: table;
	content: " "
}

.container:after {
	clear: both
}




































.navbar {
	position: relative;
	z-index: 1000;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent
}

.navbar:after,.navbar:before {
	display: table;
	content: " "
}

.navbar:after {
	clear: both
}

.navbar-header:after,.navbar-header:before {
	display: table;
	content: " "
}

.navbar-header:after {
	clear: both
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
	-moz--box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 -1px 2px rgba(0, 0, 0, .1)
}

.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	border-width: 0 0 1px
}


.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0
}

.navbar-brand {
	float: right;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	position: relative
}


.nav-current-box {
	padding: 10px
}

.nav-current-box .navbar-header {
	float: left
}

.nav {
	margin-left: 0;
	list-style: none
}


































































































.amount-confirm-box {
	margin-top: 6px;
	overflow: hidden;
	border: 1px solid #d5d5d5;
	width: 90px;
	height: 28px;
	font-size: 0
}

.amount-confirm-box:after,.amount-confirm-box:before, ;.amount-confirm-box:before
	{
	display: table;
	content: " "
}

.amount-confirm-box:after {
	clear: both
}

.amount-confirm-box .amount-action {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: left;
	height: 28px;
	width: 28px;
	zoom: 1;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	font-family: "Courier New", Courier, monospace;
	color: #666;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: -ms-linear-gradient(top, #fff, #E4E4E4);
	background: -moz-linear-gradient(top, #fff, #E4E4E4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#E4E4E4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#E4E4E4')
}

.amount-confirm-box .amount-action-min {
	border-right: 1px solid #eee
}

.amount-confirm-box .amount-action-max {
	border-left: 1px solid #eee
}

.amount-confirm-box .amount-action.disabled {
	cursor: not-allowed;
	color: #ddd;
	background: #f0f0f0
}

.amount-confirm-box .amount-text {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: left;
	width: 32px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	border: 0;
	font-size: 14px;
	cursor: default
}

.amount-num {
	display: none;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #272525;
	background-color: #fff;
	font-family: 'Microsoft Yahei';
	border: 0;
	overflow: hidden
}




.drop-wrapper::-webkit-scrollbar {
	width: 8px
}

.drop-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 10px
}

.drop-wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, .7)
}

.drop-wrapper::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, .4)
}

























































































@
-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg)
}

to {
	-webkit-transform: rotate(360deg)
}

}
@
-mox-keyframes rotate {
	from {-moz-transform: rotate(0deg)
}

to {
	-moz-transform: rotate(360deg)
}

}
@
-o-keyframes rotate {
	from {-o-transform: rotate(0deg)
}

to {
	-o-transform: rotate(360deg)
}

}
@
keyframes rotate {
	from {transform: rotate(0deg)
}

to {
	transform: rotate(360deg)
}

}
@
-webkit-keyframes rotate2 {
	from {-webkit-transform: rotate(-60deg)
}

to {
	-webkit-transform: rotate(300deg)
}

}
@
-mox-keyframes rotate2 {
	from {-moz-transform: rotate(-60deg)
}

to {
	-moz-transform: rotate(360deg)
}

}
@
-o-keyframes rotate2 {
	from {-o-transform: rotate(-60deg)
}

to {
	-o-transform: rotate(300deg)
}

}
@
keyframes rotate2 {
	from {transform: rotate(-60deg)
}

to {
	transform: rotate(300deg)
}

}
























































































































































































































@media screen and (min-width:480px) {
}

@media screen and (min-width:641px) {
}






























































.u-panel,.u-panel-bd {
	position: relative;
	width: 100%
}

.u-panel-hd {
	padding: .1rem .2rem
}

.u-panel-bd {
	border-top: 1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc
}

.u-panel-bd li {
	position: relative;
	padding: .3rem 0;
	color: #000;
	border-bottom: .02rem solid #cccbcf
}

.u-panel-bd li:nth-last-child(1) {
	border: none
}

/*ƒÎﬁ nn`˝Y(˜Å   ‘*F¿Ø∏3Õ!*/






