html {
	margin: 0px; padding: 0px; color: rgb(34, 34, 34); font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; text-decoration: none;
}
body {
	margin: 0px; padding: 0px; color: rgb(34, 34, 34); font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; text-decoration: none;
}
body > .tips {
	padding: 20px; left: 50%; top: 50%; width: 200px; text-align: center; display: none; position: fixed; z-index: 100;
}
body {
	margin: 0px; padding: 0px;text-align: center; 
}
#cate1 {
	-ms-overflow-x: hidden; background-color: rgb(240, 240, 240);
}
#cate1 .mainmenu {
	margin: 0px auto; padding: 5px; width: 310px; display: block;
}
#cate1 .mainmenu li {
	width: 50%; margin-right: -0.5px; float: left; display: block; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none;
}
#cate1 .mainmenu li .menubtn {
	margin: 5px; border-radius: 5px; color: rgb(0, 0, 0); text-decoration: none; display: block; box-shadow: 0px 1px 3px #bebebe; background-color: rgb(255, 255, 255); -moz-box-shadow: 0 1px 3px #bebebe; -webkit-box-shadow: 0 1px 3px #bebebe;
}
#cate1 .mainmenu li .menubtn:hover {
	background-color: rgb(245, 245, 245);
}
#cate1 .mainmenu li a {
	padding: 0px; color: rgb(0, 0, 0); font-size: 14px; text-decoration: none; display: block; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none;
}
#cate1 .mainmenu li .menubtn .menumesg {
	padding: 0px;
}
#cate1 .mainmenu li .menubtn .menuimg {
	border-radius: 5px 5px 0px 0px; height: 106px; overflow: hidden; background-color: rgb(245, 245, 245);
}
#cate1 .mainmenu li div img {
	border-radius: 5px 5px 0px 0px; border: 0px currentColor; width: 100%;
}
#cate1 .mainmenu li .menutitle {
	padding: 5px; text-align: center; color: rgb(0, 0, 0); overflow: hidden; text-decoration: none; white-space: nowrap; -ms-text-overflow: ellipsis;
}